[Unit]
Description=Synchronize ASA created users with local system groups

[Service]
Type=oneshot
Environment="ASA_AUTHORIZED_GROUP=@@ASA_AUTHORIZED_GROUP@@"
Environment="LOCAL_GROUPS=@@LOCAL_GROUPS@@"
Environment="PATH=@@PATH@@"
TimeoutStartSec=1200
TimeoutStopSec=120
ExecStart=@@INSTALL_PREFIX@@/bin/asa_group_sync
